<% provide(:title, 'About') %>

<h1>About Us</h1>

<h2>We aim to produce innovative products that make the lives of others easier.</h2>
<br/>
<h2>Our big button radio allows people with dexterity/visual impairments to easily
	listen to the radio, to hear the news read to them, and to allow their loved
	ones to send them message which will be read out to them automatically.</h2>
