<% provide(:title, 'Help') %>

<h1>Need Help ?</h1>

<br/>

<h2>Please select "Sign In" and then post a message to your loved one.</h2>

<br/>

<h2>Your message will be sent to your loved ones radio device and will
	be automatically read out to them.</h2>
