<footer class="footer">
	<small>
		Insert a link here
	</small>

	<nav>
		<ul>
			<li> <%= link_to "About" ,  about_path  %> </li>
			<li> <%= link_to "Contact", '#'  %> </li>
			<li> <%= link_to "Sign In", '#' %> </li>
		</ul>
	</nav>
</footer>
